
<mat-toolbar [color]="'primary'" >
  <mat-toolbar-row >
    <dir class="px-6 m-0">
      <span>Math</span>
    </dir>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container px-9 mt-4">
  <h1>
    {{'WELCOME' | translate}} <a target="_blank" [href]="url">{{title}}</a>  {{ 'HELLO' | translate }}!
  </h1>
  <!-- Equation -->
  <h2 class="font-bold font-serif">Equation: </h2>
  <mat-form-field appearance="outline">
    <mat-label>Type here your equation:</mat-label>
    <input matInput type="text" #katexInput [(ngModel)]="equation">
  </mat-form-field>
  <br>
  <ng-katex  [equation]="equation" [options]="options"></ng-katex>
  <button (click)="setSelectionWithAddKatex(paragraphTextArea)">Set Caret Position</button>
  <hr />
  <!-- Paragraph -->
  <h2 class="font-bold font-serif">Paragraph: </h2>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>{{'INPUT.TYPE_HERE_YOUR' | translate}} Paragraph:</mat-label>
    <textarea matInput [(ngModel)]="paragraph" rows="6" #paragraphTextArea>
    </textarea>
  </mat-form-field>
  <ng-katex-paragraph [paragraph]="paragraph"></ng-katex-paragraph>
  <hr />
  <!-- HTML -->
  <h2 class="font-bold font-serif">HTML: ({{'NOTE.BYPASSES_SANITIZATION' | translate}})</h2>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>{{'INPUT.TYPE_HERE_YOUR' | translate}} HTML:<</mat-label>
    <textarea matInput [(ngModel)]="html" rows="6">
      </textarea>
  </mat-form-field>
  <ng-katex-html [html]="html"></ng-katex-html>
</div>
